body {
  /* text-align: center; */
  background-color: #36b55c;
  color: white;
  font-family: 'Playfair Display', serif;
}

#quote-box {
  position: absolute;
  top: 20%;
  right: 10%;
  left: 10%;
  width: 80%;
  line-height: 0.5;
}

.quote {
  position: relative;
  margin: 0;
  font-weight: 400;
  font-size: 4rem;
  line-height: 1.1;
}

.quote::before,
.quote::after {
  position: absolute;
  font-size: 6rem;
  line-height: 2.5rem;
}

.quote::before {
  top: 0.25em;
  left: -0.5em;
  content: '“';
}

.quote::after {
  position: absolute;
  bottom: -0.1em;
  margin-left: 0.1em;
  content: '”';
}

.source {
  margin-right: 4em;
  text-align: right;
  letter-spacing: 0.05em;
  font-size: 1.25rem;
  line-height: 1.1;
}

.source::before {
  content: '—';
}

.citation {
  font-style: italic;
}

.citation::before {
  font-style: normal;
}

.year::before {
  font-style: normal;
}

#loadQuote {
  position: fixed;
  bottom: 150px;
  left: 50%;
  display: inline-block;
  margin-left: -6em;
  padding: 15px 0;
  width: 12em;
  border: 2px solid #fff;
  border-radius: 4px;
  background-color: #36b55c;
  color: #fff;
  transition: 0.5s;
}

#loadQuote:hover {
  background-color: rgba(255, 255, 255, 0.25);
}

#loadQuote:focus {
  outline: none;
}

@media (max-width: 420px) {
  .quote {
    font-size: 2.5rem;
  }

  .quote::before,
  .quote::after {
    font-size: 3rem;
  }

  .source {
    font-size: 1rem;
  }
}
